.main__wraper{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    background-color: azure;
}

.main__box-list{
    width: 60%;
    height: 100px;  
    margin: 15px 0px 0px;
}

.main__box-bottun{
    width: 5%;
    height: 100px;
    margin: 15px 0px 0px;    
}

.main__wraper-button{
    display: flex;
    justify-content: center;
    
}

.main__button-refresh{
    width: 100%;
    height: 60px;
}

.main__wraper-table{
    width: 100%;
    height: 60px; 
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    border-collapse: collapse;
    text-align: center;   
}

.main__table-header{
    background: #AFCDE7;
    color: white;
    padding: 10px 20px;
}

.main__header-cow{
    width: 100%;
    height: auto;
    background-color: #D8E6F3;
        
}

.main__header-id{
    width: 10%;
    height: 30px;
} 

.main__header-task{
    width: 70%;
    height: 30px;
}

td,th{
    min-width: 30px;
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
}

.main__wraper-bottun{
    width: 100%;
    height: 50px;
    background-color: brown;
}